doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            img.navbar-logo(src='/img/logo-64x64.png', alt='Logo')
            span.navbar-brand-label #{projectName}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            //li: a(href='/') Home
            li: a(href='/wiki')
              i.fa.fa-globe
              |  Truth
            li: a(href='/ideology')
              i.fa.fa-book
              |  Religion
            li: a(href='/morality')
              i.fa.fa-balance-scale
              |  Morality
            //li: a(href='/about/') About
          ul.nav.navbar-nav.navbar-right
            if user && user.username
              include account-nav.jade
            else
              li: a(href='/login/')
                i.fa.fa-user
                |  Login
              li: a(href='/signup/')
                i.fa.fa-user
                |  Sign Up

    div.page
      div.container
        block body

    include footer.jade

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-66543450-1', 'auto');
      ga('send', 'pageview');

    block feet
